.home {
  margin: 1em;
  padding: 2em;
}
.top-banner {
  display: flex;
  margin-bottom: 1.5em;
  background-color: azure;
}

.top-heading {
  margin-top: 3em;
  margin-left: 2em;
  font-size: xx-large;
  font-weight: 800;
  padding-top: 3em;
  padding-left: 1.5em;
  color: olivedrab;
}

#name {
  color: tomato;
}
.course-header {
  color: #ff335e;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}
.course-container {
  display: flex;
}
.title {
  color: darkslategray;
  font-weight: 800;
}
.details {
  color: slategray;
}
.instructor {
  color: tomato;
}
